# Database Configuration
# Neon Database (PostgreSQL):
DATABASE_URL=postgresql://neondb_owner:npg_QVE8drDmhSJ3@ep-withered-breeze-ayuqwmuj-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# For local development: sqlite:///swift_local.db

# Admin User Configuration (for production)
ADMIN_USERNAME=shivam
ADMIN_PASSWORD=Raaina@20

# Flask Configuration
SECRET_KEY=15713ea317f9d55efd642794784e09435d1d383842e6d6d7486f90c543174e72
FLASK_DEBUG=False