# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/loanexter_db

# Admin User Configuration (for production)
ADMIN_USERNAME=shivam
ADMIN_PASSWORD=Raaina@20

# Flask Configuration
SECRET_KEY=your-secret-key-here
FLASK_DEBUG=False