# Database Configuration
# For Neon Database (PostgreSQL): postgresql://username:password@ep-xxx.region.aws.neon.tech/neondb
# For local development: sqlite:///swift_local.db
DATABASE_URL=postgresql://username:password@ep-xxx.region.aws.neon.tech/vishu

# Admin User Configuration (for production)
ADMIN_USERNAME=shivam
ADMIN_PASSWORD=Raaina@20

# Flask Configuration
SECRET_KEY=your-secret-key-here
FLASK_DEBUG=False