Flask==2.3.3
Flask-SQLAlchemy==3.0.3
Flask-Login==0.6.3
SQLAlchemy==1.4.48
gunicorn==20.1.0
pandas==1.5.3
numpy==1.26.4
xlsxwriter==1.4.4
Jinja2==3.1.2
reportlab==3.6.12
psycopg2-binary==2.9.2
Pillow==9.0.1
pdfkit==1.0.0
requests==2.31.0
python-dotenv==1.0.0
Flask-WTF==1.1.1
